<link rel="stylesheet" href="/css/categories.css">

<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr/>
    <h2>Articles</h2>
    <hr/>
    
    <h3>Create a new article</h3>
    <a href="/admin/articles/new" class="btn btn-primary">To create</a>

    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <th> <%= article.id %> </th>
                    <th> <%= article.title %> </th>
                    <th> <%= article.slug %> </th>
                    <th> <%= article.category.title %> </th>
                    <th>

                        <a href="/admin/articles/alter/<%=article.id%>" class="btn btn-warning">Alter</a>

                        <form method="POST" action="/articles/delete" style="display: inline" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= article.id %>"/>
                            <button class="btn btn-danger">Delete</button> 
                        </form>
                    </th>                   
                </tr>
            <% }) %>
        </tbody>
    
    </table>   

</div>

<%- include ('../../partials/footer.ejs') %>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        let validate = confirm('You want to delete the article ?');

        if(validate == true){
            form.submit();
        }
    }
</script>