<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr/>
    <h2>Users</h2>
    <hr/>
    
    <h3>Create a new user</h3>
    <a href="/admin/users/new" class="btn btn-primary">To create</a>

    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <th> <%= user.id %> </th>
                    <th> <%= user.email %> </th>             
                </tr>
            <% }) %>
        </tbody>
    
    </table>   

</div>

<%- include ('../../partials/footer.ejs') %>
